.pokemonLoader {
  position: relative;
  height: 7rem;
  width: 7rem;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokemonLoader::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  background: black;
  top: 50%;
  transform: translateY(-50%);
}

.pokemonLoader::after {
  content: '';
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
